/* Media query start from here  */

@media only screen and (max-width : 375px) {



    .menu-list {

        /* display: none; */
        position: absolute;
        width: 100%;
        top: -13rem;
        left: 0;
        right: 0;
        background-color: red;
        padding-bottom: 20px;
        z-index: 0;
        transition: 1s;


    }

    #menuList {

        display: none;
    }

    .menu-list ul {


        flex-direction: column;
        text-align: center;


    }

    .menu-list ul li {

        padding-top: 1rem;

    }

    .button-section {

        display: none;
    }

    .mobile-menu {
        position: relative;
        text-align: center;
        padding-right: 20px;
        display: block;
    }

    ion-icon {
        font-size: 2.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .mobile-menu-close {

        display: none;
    }

}